@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
/* 
:root {
    background-color: rgb(26,26,26);
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navigation bar styling */
.navcont{
    width: 100%;
    height: 60px;
    max-width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.9) ;
}

.navbar{
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.icon{
    width: 30rem;
    height: 100%;
    max-width: 70rem;
    padding: 20px;
    display: flex;
    align-items: center;
}

.icon i{
    font-size: 32px;
    color: yellow;
}

 .links{
    width: 120vh;
    height: 100%;
    padding: 20px;
    text-align: center;
 }


.links ul{
    list-style: none;
    display: flex;
    justify-content: end;

}

.links ul li a{
    border-bottom:0;
    color: yellow;
    font-size: large;
    font-weight: 300;
    text-decoration: none;
    margin-left:40px ;
}

/* end of navigation section */

.testcont{
    width: 100%;
    height: 100vh;
    background:url(./images/pineapple.jpg);
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;  
    background-color: #ffc30b;
}

.test{
    width: 50%;
    height: 100vh;
    text-align: center;
    padding-top: 15rem;
    line-height: 1.6;
    font-size: large;
    font-weight: bold;
}
 .test button{
     background-color: rgba(0, 0, 0, 0.7);
     color: #ffc30b;
     padding: 12PX 20px;
     border-radius: 20PX;
     font-size: larger;
     font-weight: bolder;
     margin-top: 10rem;
     width: 15rem;
     
     
 }

/* footer section  */
.footcont{
    display: inline-flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9) ;
    color: yellow;
    width: 100%;
    height: 40px;
}

.footcont .cont1{
    width: 40%;
    text-align: justify;
}

.footcont .cont2{
    text-align: right;
    width: 100%;
}

.footcont .cont2 i{
    margin-left: 30px;
}

/* quiz section */

.quizsection{
    width: 100%;
    height: 100vh;
    background-color: #ffc30b;
    display: flex;
    justify-content: center;
    text-align: center;
}

.quiz-container{
    background-color: rgba(0, 0, 0, 0.9) ;
    border-radius: 20px;
    width: 500px;
    height: fit-content;
    overflow: hidden;
}

.quiz-header{
    padding: 50px;
    color:#ffc30b;
    line-height: 1.6;

}

.quiz-header h2{
    padding: 20px;
    text-align: center;
}

.quiz-header ul{
    list-style: none;
    text-align: justify;
    padding: 0;
}

ul li label{
    cursor: pointer;
}

#submit{
    padding: 20px;
    background-color: black;
    color: #ffc30b;
    border-radius: 5px;
    margin-bottom: 40px;
    border: none;
}

#submit:hover{
    background-color: antiquewhite;
}












